*{
	padding: 0;
	margin-top: 0;
	font-family: sans-serif;
	}
	a{
	color: inherit;
	text-decoration: none;
	}
	
	.container{
	width: 80%;
	margin: auto;
	color: rgb(255, 255, 255);
	}
	.container:after{
	content: " ";
	display: block;
	clear: both;
	}
	
	.navigasi{
	position: fixed;
	top: 0%;
	width: 100%;
	z-index: 1;
	}
	.navigasi ul li {
	display: inline-block;
	}
	header h1{
	float: left;
	padding: px 0px;
	color:rgb(228, 0, 0);
	}
	header ul{
	float: right;
	margin-right: 200px;
	}
	header ul li{
	color: rgb(0, 0, 0);
	}
	header ul li a{
	padding: 20px 25px;
	display: inline-block;
	}
	header ul li a:hover{
	background-color: #6a7468;
	color: rgb(0, 0, 0);
	}
	.active{
	color: rgb(0, 0, 0);
	}
	.content{
	margin-top: 40px;
	display: flex;
	}
	.isi{
	
	width: 50%;
	padding: 20px;
	font-size: 16pt ;
	}
	.visimisi{
	display: flex;
	margin-top: 40px;
	margin: 40px;
	text-align: justify;
	margin-bottom: -100px;
	}
	.visi{
	padding: 20px;
	width: 50%;
	}
	.misi{
	padding: 20px;
	width: 50%;
	}
	.about p{
	color: #666;
	word-spacing: 2px;
	line-height: 20px;
	
	}
	.sejarah{
	color: black;
	text-align: center;
	padding: 10% 100px;
	font-size: 16pt;
	}
	footer{
	padding: 60px 0;
	background-color:rgb(228, 0, 0);
	}
	.container h3{
	text-align: center;
	}
	.container p{
	text-align: center;
	}
	.icon ul li{
	list-style: none;
	margin-top: 15px;
	}